{% extends 'base.html' %}
{% block title %} Login{% endblock %}

{% block body %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>

{% endblock %}