{% extends 'base.html' %}
{% block title %} Delete reservation {% endblock %}

{% block body %}
    <p> Are you sure delete {{reservation.reservation }}</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
        <a href="{% url 'list-reservation' %}" class="btn btn-primary">No</a>
        <button type="button" onclick="location.href='{% url 'list-reservation' %}'"> No, sure</button>
    </form>


{% endblock %}