{% extends 'base.html' %}
{% block title %} List of reservation{% endblock %}

{% block body %}
    <form method="get">
        {{ my_filter_reservation.form }}
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Borrower</th>
            <th>Start Datetime</th>
            <th>End Datetime</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in all_reservation %}
            <tr>
                <td>{{ reservation.borrower }}</td>
                <td>{{ reservation.start_datetime }}</td>
                <td>{{ reservation.end_datetime }}</td>
                <td>
                    <a href="{% url 'update-reservation' reservation.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'delete-reservation' reservation.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail-reservation' reservation.id %}" class="btn btn-warning">More Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}