{% extends 'base.html' %}
{% block title %} Create a new Address {% endblock %}

{% block body %}
    <div class = "row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
             {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
             </form>
        </div>
    </div>
{% endblock %}
