{% extends 'base.html' %}
{% block title %} More information {% endblock %}

{% block body %}

    <div class="card text-center">
        <div class="card-header">
            Create at {{ address.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ address.address }} {{ address.locality }}</h5>

            <p class="card-text"> Address: {{ address.address }} </p>
            <p class="card-text"> Country: {{ address.country }}</p>
            <p class="card-text"> City: {{ address.city }}</p>
            <p class="card-text"> Locality {{ address.locality }}</p>
            <p class="card-text"> Postal_code: {{ address.postal_code }}</p>
            <a href="{% url 'list-address' %}" class="btn btn-primary btn-xs">List of address</a>
        </div>
        <div class="card-footer text-muted">
           Update at {{ address.update_at }}
        </div>
    </div>
{% endblock %}

