{% extends 'base.html' %}
{% block title %} List of address {% endblock %}

{% block body %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Address</th>
            <th>Country</th>
            <th>City</th>
            <th>Locality</th>
            <th>Postal_code</th>
        </tr>
        </thead>
        <tbody>
        {% for address in all_address %}
            <tr>
                <td>{{ address.address }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.locality }}</td>
                <td>{{ address.postal_code }}</td>
            <td>
                <a href="{% url 'update-address' address.id %}" class="btn btn-success">Update</a>
                <a href="{% url 'delete-address' address.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'detail-address' address.id %}" class="btn btn-warning">More Details</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
