{% extends 'base.html' %}
{% block title %} Update Address {% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Update</button>

            </form>
        </div>
    </div>
{% endblock %}