{% extends 'base.html' %}
{% block title %} Create a new product {% endblock %}

{% block body %}
    <div class = "row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
             {% csrf_token %} {# securitate #}
            {{ form }} {#genereaza formularul #}
            <button type="submit" class="btn btn-primary">Save</button> {# salveaza informatiile #}
             </form>
        </div>
    </div>
{% endblock %}
