{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block body %}
<p> Are you sure delete {{ product.name }} {{ product.category }}</p>
    <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Yes</button>
    <a href="{% url 'list-product'%}" class="btn btn-primary">No</a>
    <button type="button" onclick="location.href='{% url 'list-product' %}'"> No, sure</button>
    </form>
{% endblock %}
