{% extends 'base.html' %}
{% block title %} More information {% endblock %}

{% block body %}
    <section id="pricing" class="section-bg">

        <div class="container" data-aos="fade-up">

            {{ category }}
            <div class="row">


                {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="box">
                            <h3>{{ product.name }}</h3>
{#                            <h4><sup>$</sup>0<span> month</span></h4>#}
                            <img src="{{ product.image.url }}" alt="" class="col-12">
                            <p>
                                {{ product.description }}
                            </p>
{#                            <ul>#}
{#                                <li><i class="bi bi-check-circle"></i> Quam adipiscing vitae proin</li>#}
{#                                <li><i class="bi bi-check-circle"></i> Nec feugiat nisl pretium</li>#}
{#                                <li><i class="bi bi-check-circle"></i> Nulla at volutpat diam uteera</li>#}
{#                                <li><i class="bi bi-check-circle"></i> Pharetra massa massa ultricies</li>#}
{#                                <li><i class="bi bi-check-circle"></i> Massa ultricies mi quis hendrerit</li>#}
{#                            </ul>#}
                            <a href="#" class="get-started-btn">Rezerva Produsul</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}