{% extends 'base.html' %}
{% block title %} More information {% endblock %}

{% block body %}

    <div class="card text-center">
        <div class="card-header">
            Create at {{ product.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ product.name }} {{ product.category }}</h5>

            <p class="card-text"> Description: {{ product.description }} </p>
            <p class="card-text"> Size: {{ product.size }}</p>
            <p class="card-text"> Colors: {{ product.colors }}</p>
            <p class="card-text"> Image: {{ product.image }}</p>
            <p class="card-text"> Lender: {{ split.customer.first_name }}{{ split.customer.last_name }}</p>
            <a href="{% url 'list-product' %}" class="btn btn-primary btn-xs">List of products</a>
        </div>
        <div class="card-footer text-muted">
           Update at {{ product.update_at }}
        </div>
    </div>
{% endblock %}
