{% extends 'base.html' %}
{% block title %} List of category {% endblock %} {#inlocuiesti ce am scris in fisierul base; titlul sus din browser#}

{% block body %}
    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3 class="section-title">Categorii</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Selectează categoria și alege produsul pe care dorești să-l
                    împrumuți
                </p>
            </div>

            <div class="row gy-4">
                {% for category in categories %}

                    <div class="col-lg-6">
                        <div class="box">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title">
                                <a href="{% url 'detail-category' pk=category.id %}">{{ category.name }}</a>
                            </h4>
                            {#                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias#}
                            {#                                excepturi sint occaecati cupiditate non provident etiro rabeta lingo.#}
                            {# todo + view + url                               de completat#}
                            </p>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section><!-- End More Features Section -->
{% endblock %}