{% extends 'base.html' %}
{% block title %} List of products{% endblock %}

{% block body %}
    <form method="get">
        {{ my_filter.form }}
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <section id="pricing" class="section-bg">

        <div class="container" data-aos="fade-up">

            {{ category }}
            <div class="row">
                {% for product in all_products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="box">

                            <h3>{{ product.name }}</h3>
                            <img src="{{ product.image.url }}" alt="" class="col-12">
                            <p>
                                {{ product.description }}
                            </p>
                            <a href="{% url 'detail-product' product.id %}"
                               class="get-started-btn">Mai multe detalii
                            </a>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
