<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href=" {% static 'assets/css/style.css' %}" rel="stylesheet">


    <title>{% block title %} {% endblock %}</title>

</head>
<body>
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

        <div id="logo">
            <h1><a href="{% static 'index.html' %}">SPLIT</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="{% static 'index.html'%}"><img src="assets/img/logo.png" alt=""></a> -->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#featurest">Features</a></li>
                <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                <li class="dropdown">
                    <a href="#"><span>Categorii</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        {% for category in categories %}
                            <li><a href="{% url 'detail-category' pk=category.id %}">{{ category.name }}</a></li>
                        {% endfor %}




                        {#                        <li class="dropdown">#}
                        {#                            <a href="#">#}
                        {#                                <span>Deep Drop Down</span>#}
                        {#                                <i class="bi bi-chevron-right"></i>#}
                        {#                            </a>#}
                        {#                            <ul>#}
                        {#                                <li><a href="#">Deep Drop Down 1</a></li>#}
                        {#                                <li><a href="#">Deep Drop Down 2</a></li>#}
                        {#                                <li><a href="#">Deep Drop Down 3</a></li>#}
                        {#                                <li><a href="#">Deep Drop Down 4</a></li>#}
                        {#                                <li><a href="#">Deep Drop Down 5</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        {#                        <li><a href="#">Drop Down 2</a></li>#}
                        {#                        <li><a href="#">Drop Down 3</a></li>#}
                        {#                        <li><a href="#">Drop Down 4</a></li>#}
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="{% url 'create-customers' %}">Register</a></li>
                {% if request.user.is_anonymous %}
                    <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
                {% else %}
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        {% block form %}

        {% endblock %}
        <div class="hero-text" data-aos="zoom-out">
            <h2>Bun venit la SPLIT</h2>
            <p>Vezi toate produsele pe care le poți împrumuta</p>
            <a href="{% url 'list-product' %}" class="btn-get-started scrollto">Împrumută produsul</a>
        </div>

        <div class="product-screens">

            {#                    <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">#}
            {#                        <img src="{% static 'assets/img/product-screen-1.png' %}" alt="">#}
            {#                    </div>#}
            {##}
            {#                    <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">#}
            {#                        <img src="{% static 'assets/img/product-screen-2.png' %}" alt="">#}
            {#                    </div>#}
            {##}
            {#                    <div class="product-screen-3" data-aos="fade-up">#}
            {#                        <img src="{% static 'assets/img/product-screen-3.png' %}" alt="">#}
            {#                    </div>#}

        </div>

    </section><!-- End Hero Section -->

    {% block body %}{% endblock %}


</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-start text-center">
                <div class="copyright">
                    &copy; Copyright <strong>Avilon</strong>. All Rights Reserved
                </div>

            </div>
            <div class="col-lg-6">
                <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                    <a href="#intro" class="scrollto">Home</a>
                    <a href="#about" class="scrollto">About</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </nav>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-chevron-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>