{% extends 'base.html' %}
{% load static %}

{% block body %}


    <!-- ======= Header ======= -->

    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Despre noi</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    SPLIT este o a aplicație cu impact social, care ajută la interconectarea oamenilor și
                    la formarea unei atitudini colaborative, ajutând în același timp și Planeta.<br>
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
                    <img src="{% static 'assets/img/about-img.jpg' %}" alt="">
                </div>

{#                <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">#}
{#                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate.</h2>#}
{#                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim#}
{#                        id est laborum.#}
{#                    </h3>#}
{#                    <p>#}
{#                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut#}
{#                        labore et dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
{#                    </p>#}
{##}
{#                    <ul>#}
{#                        <li>#}
{#                            <i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
{#                        </li>#}
{#                        <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate#}
{#                            velit.#}
{#                        </li>#}
{#                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
{#                            Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu#}
{#                            fugiat nulla pariatur.#}
{#                        </li>#}
{#                    </ul>#}
{##}
{#                    <p>#}
{#                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit#}
{#                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat#}
{#                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero#}
{#                        justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla#}
{#                        phasellus faucibus scelerisque eleifend donec#}
{#                    </p>#}
{#                </div>#}
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Featuress Section ======= -->
    <section id="features">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header">
                        <h3 class="section-title">Caracteristici Generale</h3>
                        <span class="section-divider"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="{% static 'assets/img/product-features.png' %}" alt="" data-aos="fade-right">
                </div>

                <div class=" col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href="">Rapiditate</a></h4>
                            <p class="description">Rezolva-ți rapid problema utilizând SPLIT.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Fiabilitate</a></h4>
                            <p class="description">Totul la un click distanță față de un vecin care te poate ajută!
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box" data-aos="fade-up" dat-aos-delay="100">
                            <div class="icon"><i class="bi bi-binoculars"></i></div>
                            <h4 class="title"><a href="#">Interconectivitate</a></h4>
                            <p class="description">Ai nevoie de ajutor? Un prieten te așteaptă pe SPLIT!
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-brightness-high"></i></div>
                            <h4 class="title"><a href="">Ușurință</a></h4>
                            <p class="description">Ce este mai ușor? Utilizează SPLIT pentru a-ți satisface nevoile.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section><!-- End Featuress Section -->

    <!-- ======= Advanced Featuress Section ======= -->
    <section id="advanced-features">

        <div class="features-row section-bg" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img class="advanced-feature-img-right wow fadeInRight"
                             src="{% static 'assets/img/advanced-feature-1.jpg' %}" alt="">
                        <div>
                            <h2>Problema devine obiectiv îndeplinit.</h2>
{#                            <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt#}
{#                                mollit anim id est laborum.#}
{#                            </h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt#}
{#                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.#}
{#                            </p>#}
{#                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                                deserunt mollit anim id est laborum.#}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-row" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img class="advanced-feature-img-left" src="{% static 'assets/img/advanced-feature-2.jpg' %}"
                             alt="">
{#                        <div>#}
{#                            <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse</h2>#}
{#                            <i class="bi bi-calendar4-week"></i>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt#}
{#                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.#}
{#                            </p>#}
{#                            <i class="bi bi-bar-chart"></i>#}
{#                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                aute irure dolor in reprehenderit in voluptate velit esse cillum.#}
{#                            </p>#}
{#                            <i class="bi bi-brightness-high"></i>#}
{#                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                aute irure dolor in reprehenderit in voluptate velit esse cillum.#}
{#                            </p>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

{#        <div class="features-row section-bg" data-aos="fade-up">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-12">#}
{#                        <img class="advanced-feature-img-right wow fadeInRight"#}
{#                             src="{% static 'assets/img/advanced-feature-3.jpg' %}" alt="">#}
{#                        <div>#}
{#                            <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse</h2>#}
{#                            <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt#}
{#                                mollit anim id est laborum.#}
{#                            </h3>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt#}
{#                                ut labore et dolore magna aliqua. Ut enim ad minim veniam#}
{#                            </p>#}
{#                            <i class="bi bi-binoculars"></i>#}
{#                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                                deserunt mollit anim id est laborum.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section><!-- End Advanced Featuress Section -->

    <!-- ======= Call To Action Section ======= -->
{#    <section id="call-to-action">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-9 text-center text-lg-start">#}
{#                    <h3 class="cta-title">Call To Action</h3>#}
{#                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu#}
{#                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                        deserunt mollit anim id est laborum.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="col-lg-3 cta-btn-container text-center">#}
{#                    <a class="cta-btn align-middle" href="#">Call To Action</a>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Call To Action Section -->#}

    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3 class="section-title">Categorii</h3>
                <span class="section-divider"></span>
                <p class="section-description">Selectează categoria și alege produsul pe care dorești să-l
                    împrumuți
                </p>
            </div>

            <div class="row gy-4">

                {% for category in categories %}

                    <div class="col-lg-6">
                        <div class="box">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title">
                                <a href="{% url 'detail-category' pk=category.id %}">{{ category.name }}</a>
                            </h4>
                            {#                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias#}
                            {#                                excepturi sint occaecati cupiditate non provident etiro rabeta lingo.#}
                            {# todo + view + url                               de completat#}
                            </p>
                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
    </section><!-- End More Features Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-1.png' %}" alt="">
                </div>

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-2.png' %}" alt="">
                </div>

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-3.png' %}" alt="">
                </div>

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-4.png' %}" alt="">
                </div>

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-5.png' %}" alt="">
                </div>

                <div class="col-md-2">
                    <img src="{% static 'assets/img/clients/client-6.png' %}" alt="">
                </div>

            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Pricing Section ======= -->
{#    <section id="pricing" class="section-bg">#}
{#        <div class="container" data-aos="fade-up">#}
{##}
{#            <div class="section-header">#}
{#                <h3 class="section-title">Pricing</h3>#}
{#                <span class="section-divider"></span>#}
{#                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
{#                    accusantium doloremque#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{##}
{#                <div class="col-lg-4 col-md-6">#}
{#                    <div class="box">#}
{#                        <h3>Free</h3>#}
{#                        <h4><sup>$</sup>0<span> month</span></h4>#}
{#                        <ul>#}
{#                            <li><i class="bi bi-check-circle"></i> Quam adipiscing vitae proin</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nec feugiat nisl pretium</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nulla at volutpat diam uteera</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Pharetra massa massa ultricies</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Massa ultricies mi quis hendrerit</li>#}
{#                        </ul>#}
{#                        <a href="#" class="get-started-btn">Get Started</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6">#}
{#                    <div class="box featured">#}
{#                        <h3>Business</h3>#}
{#                        <h4><sup>$</sup>29<span> month</span></h4>#}
{#                        <ul>#}
{#                            <li><i class="bi bi-check-circle"></i> Quam adipiscing vitae proin</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nec feugiat nisl pretium</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nulla at volutpat diam uteera</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Pharetra massa massa ultricies</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Massa ultricies mi quis hendrerit</li>#}
{#                        </ul>#}
{#                        <a href="#" class="get-started-btn">Get Started</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6">#}
{#                    <div class="box">#}
{#                        <h3>Developer</h3>#}
{#                        <h4><sup>$</sup>49<span> month</span></h4>#}
{#                        <ul>#}
{#                            <li><i class="bi bi-check-circle"></i> Quam adipiscing vitae proin</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nec feugiat nisl pretium</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Nulla at volutpat diam uteera</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Pharetra massa massa ultricies</li>#}
{#                            <li><i class="bi bi-check-circle"></i> Massa ultricies mi quis hendrerit</li>#}
{#                        </ul>#}
{#                        <a href="#" class="get-started-btn">Get Started</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section><!-- End Pricing Section -->#}

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">Întrebări frecvente</h3>
                <span class="section-divider"></span>
                <p class="section-description">Selecția celor mai frecvente întrebări adresate până în prezent
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Cum îmi creez un cont pe SPLIT? <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Cum îmi îmbunătățesc ratingul pe SPLIT?
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Care este politică de returnare a produselor?
                        <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Ce se întâmplă când produsul a fost deteriorat?
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                        Care este politică de confidențialitate a produselor livrate și clienților??
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                            elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                            pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                            elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Cum îmi îmbunătățesc ratingul pe SPLIT? <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                            Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                            tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Care este politică de redobândire a produselor împrumutate?
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                            ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                            bibendum est. Purus gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Ce se întâmplă când produsul a fost deteriorat?
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                            malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem
                            dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat
                            commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non
                            blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Echipa noastră</h3>
                <span class="section-divider"></span>
                <p class="section-description">Suntem o echipă profesionistă care cunoaște resursele și nevoile locale. </p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg' %}" alt=""></div>
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'assets/img/team/team-2.jpg' %}" alt=""></div>
                        <h4>Sarah Jhinson</h4>
                        <span>Product Manager</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'assets/img/team/team-3.jpg' %}" alt=""></div>
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'assets/img/team/team-4.jpg' %}" alt=""></div>
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Galerie</h3>
                <span class="section-divider"></span>
                <p class="section-description">
{#                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque#}
                </p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" data-gall="portfolioGallery"
                           class="gallery-lightbox">
                            <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <h3>SPLIT</h3>
                        <p>O mulțime de probleme referitoare la nevoia de a utiliza un obiect pe o perioadă determinată de timp își găsesc rezolvare pe SPLIT.<br>
                            Găsește-ți produsul de care ai nevoie pentru ați rezolva problema.
                        </p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>A108 Strada Alba<br>București 535022</p>
                        </div>

                        <div>
                            <i class="bi bi-envelope"></i>
                            <p>split@gmail.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>0784 583 539</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Numele tău" data-rule="minlen:4"
                                           data-msg="Please enter at least 4 chars">
                                </div>
                                <div class="form-group col-lg-6 mt-3 mt-lg-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Adresa ta de email" data-rule="email"
                                           data-msg="Please enter a valid email">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subiect" data-rule="minlen:4"
                                       data-msg="Please enter at least 8 chars of subject">
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Mesajul tău este"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit" title="Send Message">Trimite mesajul</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- End #main -->


{% endblock %}