{% extends 'base.html' %}
{% block title %} Create a new customer {% endblock %}

{% block body %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Save User</button>
    </form>


{% endblock %}